* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --element-border: rgba(100, 155, 255, 1);
}

body {
    font-family: "Open Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white
    }

    .inspect-wrapper {
        background-color: #111;
        color: white;
    }

    .property {
        color: lightgreen;
    }
}

.top-bar-thing-wrapper {
    display: flex;
}

.spin-wrapper {
    perspective: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.resized {
    width: 50%;
}

.spin-wrapper.resized:hover {
    background: rgb(70, 94, 101);
}

.spin-center-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.spinner {
    text-align: center;
    user-select: none;
}

.resized .spinner:hover {
    background: rgba(100, 255, 255, 0.5);
    border: 1.9px dashed rgba(100, 155, 255, 1);
}

body:has(.resized .spinner:hover) .spin-center-wrapper {
    border-left: 1.9px dashed var(--element-border);
    border-right: 1.9px dashed var(--element-border);
}

#spinnerRef:hover, #bodyRef:hover {
    cursor: pointer;
}

body:has(#spinnerRef:hover) {
    .resized .spinner {
        background: rgba(100, 255, 255, 0.5);
        border: 1.9px dashed rgba(100, 155, 255, 1);
    }

    .spin-center-wrapper {
        border-left: 1.9px dashed var(--element-border);
        border-right: 1.9px dashed var(--element-border);
    }
}

body:has(#bodyRef:hover) {
    .resized .spinner {
        color: rgb(136, 67, 67);
        --header-shadow: rgb(136, 67, 67);
    }

    .resized.spin-wrapper {
        background: rgb(70, 94, 101);
    }
}

body:has(.spin-wrapper.resized:hover) .spinner {
    color: rgb(136, 67, 67);
    --header-shadow: rgb(136, 67, 67);
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@keyframes depth {
    0% {
        text-shadow: 0 0 var(--header-shadow);
        font-family: "Nerko One", cursive;
    }

    25% {
        text-shadow: 1px 0 var(--header-shadow), 2px 0 var(--header-shadow), 3px 0 var(--header-shadow), 4px 0 var(--header-shadow), 5px 0 var(--header-shadow);
        font-family: "Playwrite CU", cursive;
    }

    50% {
        text-shadow: 0 0 var(--header-shadow);
        font-family: monospace;
    }

    75% {
        text-shadow: -1px 0 var(--header-shadow), -2px 0 var(--header-shadow), -3px 0 var(--header-shadow), -4px 0 var(--header-shadow), -5px 0 var(--header-shadow);
        font-family: "Open Sans", sans-serif;
    }

    100% {
        text-shadow: 0 0 var(--header-shadow);
    }
}

.inspect-wrapper {
    background-color: #eee;
    color: black;
    font-family: sans-serif;
    width: 0%;
}

.inspect-wrapper.resized {
    width: 50%
}

.inspect-css-wrapper {
    margin: 10px;
    font-family: monospace;
}

.css-script {
    display: flex;
    flex-direction: column;
}

.rule {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.property {
    color: green;
}

.value {
    animation: text-change 1s ease-out 0s;
}

@keyframes text-change {
    from {
        background: var(--element-border);
    }

    to {
        background: transparent;
    }
}

.red {
    color: #e82e2e;
    background-color: #6b1212;
    --header-shadow: #e82e2e;
}