---
---

@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css";

body {
  margin: 0;
}

a {
  color: #5aa4a8 !important;
  text-decoration: underline !important;
}

img {
  border-radius: 8px;
}

kbd {
	border: none !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
  padding: 5px !important;
}

@media (prefers-color-scheme: light) {
  body, .markdown-body {
    background-color: #fbf1c7;
    color: #3c3836
  }
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid rgba(60, 56, 54, 0.3) !important;
  }
  kbd {
    background-color: #1d2021 !important;
    color: #eddbb2 !important;
  }
}

@media (prefers-color-scheme: dark) {
  body, .markdown-body {
    background-color: #282828;
    color: #eddbb2
  }
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid rgba(237, 219, 178, 0.3) !important;
  }
  kbd {
    background-color: #f9f5d7 !important;
    color: #3c3836 !important;
  }
}

pre.highlight {
  background-color: #1d2021 !important;
}

.highlight {
  .hll { background-color: #ffffcc }
  .c  { color: #928374; font-style: italic; } /* Comment */
  .g  { color: #ffffff } /* Generic */
  .k  { color: #fb4934 } /* Keyword */
  .l  { color: #ffffff } /* Literal */
  .n  { color: #83a598 } /* Name */
  .o  { color: #8ec07c } /* Operator */
  .x  { color: #ffffff } /* Other */
  .p  { color: #ffffff } /* Punctuation */
  .cm { color: #928374; font-style: italic; } /* Comment.Multiline */
  .cp { color: #d1c2f4 } /* Comment.Preproc */
  .c1 { color: #928374; font-style: italic; } /* Comment.Single */
  .cs { color: #928374; font-style: italic; } /* Comment.Special */
  .gd { color: #ffffff } /* Generic.Deleted */
  .ge { color: #c000c0; text-decoration: underline } /* Generic.Emph */
  .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
  .gh { color: #ffffff } /* Generic.Heading */
  .gi { color: #b8bb26 } /* Generic.Inserted */
  span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output */
  .gp { color: #ffffff } /* Generic.Prompt */
  .gs { color: #ffffff } /* Generic.Strong */
  .gu { color: #ffffff } /* Generic.Subheading */
  .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
  .kc { color: #79c0ff } /* Keyword.Constant */
  .kd { color: #ff7b72 } /* Keyword.Declaration */
  .kn { color: #ff7b72 } /* Keyword.Namespace */
  .kp { color: #ff7b72 } /* Keyword.Pseudo */
  .kr { color: #ff7b72 } /* Keyword.Reserved */
  .kt { color: #ff7b72 } /* Keyword.Type */
  .ld { color: #ffffff } /* Literal.Date */
  .m  { color: #83a598 } /* Literal.Number */
  .s  { color: #ffe580 } /* Literal.String */
  .na { color: #b6e382 } /* Name.Attribute */
  .nb { color: #458588 } /* Name.Builtin */
  .nc { color: #b6e382 } /* Name.Class */
  .no { color: #87ceeb } /* Name.Constant */
  .nd { color: #8ec07c } /* Name.Decorator */
  .ni { color: #d2a8ff } /* Name.Entity */
  .ne { color: #ffffff } /* Name.Exception */
  .nf { color: #dcdcaa } /* Name.Function */
  .nl { color: #ffffff } /* Name.Label */
  .nn { color: #ffffff } /* Name.Namespace */
  .nx { color: #ffffff } /* Name.Other */
  .py { color: #ffffff } /* Name.Property */
  .nt { color: #7ee787 } /* Name.Tag */
  .nv { color: #ffa657 } /* Name.Variable */
  .ow { color: #fe8019 } /* Operator.Word */
  .w  { color: #ffffff } /* Text.Whitespace */

  .mf { color: #b4cda8 } /* Literal.Number.Float */
  .mh { color: #b4cda8 } /* Literal.Number.Hex */
  .mi { color: #b4cda8 } /* Literal.Number.Integer */
  .mo { color: #b4cda8 } /* Literal.Number.Oct */

  .sb { color: #a5d6ff } /* Literal.String.Backtick */
  .sc { color: #a5d6ff } /* Literal.String.Char */
  .sd { color: #a5d6ff } /* Literal.String.Doc */
  .s2 { color: #a5d6ff } /* Literal.String.Double */
  .se { color: #a5d6ff } /* Literal.String.Escape */
  .sh { color: #a5d6ff } /* Literal.String.Heredoc */
  .si { color: #a5d6ff } /* Literal.String.Interpol */
  .sx { color: #a5d6ff } /* Literal.String.Other */
  .sr { color: #7ee787 } /* Literal.String.Regex */
  .s1 { color: #a5d6ff } /* Literal.String.Single */
  .ss { color: #a5d6ff } /* Literal.String.Symbol */

  .vc { color: #ffa657 } /* Name.Variable.Class */
  .vg { color: #ffa657 } /* Name.Variable.Global */
  .vi { color: #ffa657 } /* Name.Variable.Instance */
  .il { color: #ffffff } /* Literal.Number.Integer.Long */
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
